.forgot-password {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password form {
  width: 360px;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.forgot-password form h1 {
  color: gray;
  margin-bottom: 20px;
}

.forgot-password form label {
  color: gray;
  font-size: 18px;
}

.forgot-password form input,
.forgot-password form textarea {
  padding: 20px;
  border: 1px solid rgb(216, 214, 214);
}

.forgot-password form button {
  border: none;
  padding: 20px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  background-color: #1dbf73;
  cursor: pointer;
}

.forgot-password form span {
  color: red;
  font-size: 12px;
}

.p {
  background-color: red;
}

.form-select {
  padding: 8px;
  background-color: gainsboro;
}

@media (max-width: 768px) {
  .forgot-password {
    padding: 20px;
  }

  .forgot-password form {
    width: 100%;
    padding: 40px 20px;
  }

  .forgot-password form h1 {
    font-size: 24px;
  }

  .forgot-password form label {
    font-size: 16px;
  }

  .forgot-password form input,
  .forgot-password form textarea {
    padding: 15px;
  }

  .forgot-password form button {
    padding: 15px;
  }

  .forgot-password form span {
    font-size: 10px;
  }
}
